.App {
  text-align: center;
  background:#E0E0E0;
  font-family: "League Spartan",arial,"Open Sans","Times New Roman",'lucida grande', tahoma, verdana, arial, sans-serif;
  color:white;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #222; */
  background-color:#3A606E;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* test chart scaling */
/* .rv-xy-plot {
  width: 100% !important;
  height: auto !important;
}
.rv-xy-plot__inner {
  transform: scale(.5);
} */