
.PlayGround{
	color:#3A606E;
    height: 100vh;
    
}

.bottom-box{
    background-color: beige;
}

.chart-box{
    position: relative;
    /* border: 5px solid black */
}

.example-box{
    color:#5D7C88
}

.legend-playground-box{
	/* border: 3px solid #3A606E; */
	/* padding-left:80%; */
    text-align: right;
    /* float:center; */
    margin:auto;
}

.loader{
    position: absolute;
    z-index: 10;
    /* border: 1px solid black; */
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%)
}



.triangle-up {
    width: 9%;
    height: 0;    
    padding-left:5%;
    padding-bottom: 3%;
    overflow: hidden;
}
.triangle-up:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid beige;
}
